::-webkit-scrollbar{ width:8px }
::-webkit-scrollbar-thumb{ background:#222 }
::selection{ background: #333; color: #fff }

a{outline:none;text-decoration:inherit;color:inherit;}
ul{margin:0;padding:0;list-style:none;}

body { 
		margin: 0; color: #333; font: 13px/1.6 "Droid Sans Mono" }



/* ============================== */




header{ padding: 60px 300px 30px }
main{ padding: 20px 300px }
footer{ padding: 20px 0; text-align:center }

/* ---- Header ------------------ */
.photo, .name, .menu, .social, .hamb{ display: inline-block; vertical-align: middle }
.photo{
	margin-right: 30px;
	width:40px;height:40px;
	border-radius:50%;
	background: #eee url(/ava-gray.jpg) no-repeat;
	background-size: cover;
}
header h1{
	position: relative;
	margin:0; font-size:15px; letter-spacing: 2px; font-family: "Droid Sans" }

header h1:after{
	content:'';
	position: absolute;
	height: 10px;
	width: 100%;
	bottom:2px;
	left: 15px;
	background: #fff6c5;
	z-index:-1
}
.menu{
	margin: 0 60px 40px
}
.menu a{
	display: inline-block;
	padding: 10px 0;
	margin: 0 20px;
	border-bottom:1px solid transparent;
}
.menu a:hover{
	color: #e59678;
}
.menu .active{
	border-color: #222
}

.social{
	float: right;
	padding: 8px 20px;
	font-family:"Font Awesome 5 Brands", "Font Awesome 5 Free";
}
.social a{
	margin: 0 15px;
	color: #aaa
}
.social a:hover{ color: #a59678 }

.hamb{
	float: right;
	margin-top: 10px;
	border-radius: 50%;
	font: 18px/20px "Font Awesome 5 Free";
}
.hamb:hover{
	background: #eee
}





.sep{
	font-size: 25px;
	color: #e8e8e8;
	text-align: center;
	margin: 30px 0;
}





/* --- Start Page ------------------- */

article{
	margin-bottom: 40px;
}
article.with_img .content{
	margin-left: 130px
}
article .image{
	width:100px; height: 80px;
	margin-top: 30px;
	float: left;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.date{
	line-height: 20px;
	color:#aaa;
}
article h2{
	margin: 10px 0 0;
	font-size:20px;
	font-weight: normal;
	font-family: "Consolas"
}
article h2 a:hover{
	color: #a59678;
}
article p{
	margin: 10px 0;
	color: #555;
}
article .tag{
	display: inline-block;
	margin-top: 20px;
	color: #ffc800;
}
article .tag:hover, article:first-child .tag:hover{
	color: #e59678;
	border-color: #e59678
}

article:first-child .content{
	text-align: justify;
	margin-left:0;
	margin-right: 120px
}
article:first-child .image{
	float: right;
}
article:first-child .tag{
	padding: 10px 30px;
	border: 1px solid #ffc800;
	color: #000;
	border-radius:25px
}

.article .img{
	margin: 20px 0;
	height: 300px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.article h2{
	font-size: 20px;
	padding-bottom: 10px;
	border-bottom: 2px solid #ddd;
}
.article p{
	margin: 0 0 30px;
	font-size: 15px;
}



@media screen and (max-device-width: 700px){
	body{
		font-size: 10px
	}
	header{
		text-align: center;
		padding: 20px;  }
	main{padding: 0 20px}

	/* .photo, .name, .menu, .social, .hamb{ display: block } */
	
	.photo{
		display: block;
		margin: 30px auto 15px
	}
	.social{
		display: none;
		float: initial;
		margin-top: 10px;
	}
	.menu{
		display: block;
		margin: 20px;
	}
	.menu a{
		margin: 0 25px 0 0;
	}

	article .image{
		width: 50px; height: 50px
	}
	article.with_img .content{
		margin-left: 70px
	}
	article h2{
		font-size: 15px
	}
	article:first-child h2{
		display:none
	}
	article:first-child .tag{
		display: block;
		letter-spacing: 2px
	}
	article:first-child .content{

		text-align: center;
		margin-bottom: 10px;
		margin-right: 0
	}

	.sep, article:first-child .image{
		display: none
	}



	.article .img{
		height: 40vw
	}
}
